NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_URL=


MOOLRE_BASE_URL=https://sandbox.moolre.com         #for prod change https://api.moolre.com
MOOLRE_API_USER=
MOOLRE_API_KEY=your_private_key
MOOLRE_ACCOUNT_NUMBER=
MOOLRE_WEBHOOK_SECRET=
MOOLRE_API_PUBKEY=